.App {
    text-align: center;
    margin-top: 2rem;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .error {
    color: red;
    margin-top: 0.5rem;
  }
  
  .submit-button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: rgb(10, 10, 10);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card {
    margin-top: 2rem;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #345068;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
  
  .card h2 {
    margin-bottom: 1rem;
  }
  
  .card p {
    margin: 0.5rem 0;
  }
  
  /* Estilos adicionales para los inputs */
  .form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #080808;
    border-radius: 5px;
  }
  
  /* Estilos adicionales para el mensaje de color */
  .card p.color-message {
    margin-top: 1rem;
    font-weight: bold;
  }
  